@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40 11% 95%;
    --secondary-foreground: 0 0% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 94% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 240 5.9% 10%;
    --chart-1: 0 0% 17%;
    --chart-2: 0 0% 75%;
    --chart-3: 0 0% 85%;
    --chart-4: 0 0% 78%;
    --chart-5: 0 3% 17%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 0 0% 17%;
    --primary-foreground: 0 0% 77%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 94% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 17%;
    --chart-1: 0 0% 17%;
    --chart-2: 0 0% 75%;
    --chart-3: 0 0% 85%;
    --chart-4: 0 0% 78%;
    --chart-5: 0 3% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen antialiased;
  }
}

.bg-gradient-custom {
  background:
    radial-gradient(
      at 46.051131354687044% 60.35340755735492%,
      #ffffff 0px,
      transparent 50%
    ),
    radial-gradient(
      at 92.09050837496326% 19.192813765182187%,
      #5aceaf 0px,
      transparent 50%
    ),
    radial-gradient(
      at 24.912136350279166% 21.891869095816464%,
      #e7e7a6 0px,
      transparent 50%
    ),
    radial-gradient(
        at 19.42051131354687% 73.44382591093117%,
        #81f5ff 0px,
        transparent 50%
      )
      #eefeda;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-accent rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-md;
}
